{% trans_default_domain 'FOSUserBundle' %}
{% if error is defined %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- incluimos librerias js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-datatables/0.6.0/angular-datatables.min.js"></script>

  </head>
  <body ng-app="viviendas">
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">Project name</h3>
      </div>

      <div class="jumbotron">
        <form method="post" name="formLogin" action="{{ path("fos_user_security_check") }}" accept-charset="utf-8" autocomplete="off" role="form" class="form-horizontal" novalidate>
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
              <div class="form-group ">
                <div class="col-xs-12 col-md-12">
                  <label for="inputHelpBlock">RUT de usuario:</label>        
                    <input type="text" class="form-control" name="_username" id="username" 
                            placeholder="Ingrese RUT de Usuario" tabindex="1" ng-rut value="" ng-model="formLog._username"  required />
                            <span ng-show="formLogin.$submitted || formLogin._username.$touched">
                                <span ng-show="formLogin._username.$error.required || formLogin._username.$error.pattern" style="color: red">Debes completar el campo rut con digito verificador.</span>
                            </span>
                    <span id="helpBlock" class="help-block">El RUT ingresado debe tener digito verificador, ejemplo: 12112112-8.</span>
                </div>
              </div>
              <div class="form-group ">
                <div class="col-xs-12 col-md-12">
                    <label for="inputHelpBlock">Contraseña: </label>
                    <input type="password" class="form-control" name="_password" id="password"
                    placeholder="Ingrese Contraseña" value="" ng-model="formLog._password" tabindex="2" required/>
                    
                    <span ng-show="formLogin.$submitted || formLogin._password.$touched">
                        <span ng-show="formLogin._password.$error.required" style="color: red">*</span>
                    </span>
                </div>
              </div>
              <br/>
              <div class="form-group">
                <div class="col-xs-12">               
                  <button type="submit" name="log-me-in" ng-click="removeP()" id="submit" ng-disabled="formLogin.$invalid" tabindex="5" class="btn btn-lg btn-primary">{# 'security.login.submit'|trans #} Ingresar</button>
                </div>
              </div>
          </form>
      </div>      
      <div class="row marketing">
      
      {% for publicacion in publicaciones %}   
        <div class="col-lg-6">
          <h4>{{ publicacion.id }}</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      {% endfor %}
      </div>
      <footer class="footer">
        <p>&copy; Company 2017</p>
      </footer>

    </div> <!-- /container -->
  </body>

  <script type="text/javascript">
    var app = angular.module('viviendas',['ui.bootstrap']);
  </script>
</html>